{% extends 'padre.html' %}

{% load static %}

{% block titulo %} AQUI PUEDES REALIZAR COMENTARIOS {% endblock %}

{% block contenido_que_cambia %}

<form method="post" class="comment-form">
    {% csrf_token %}
    {{ formulario.as_p }}
    <button type="submit" class="btn btn-primary">Enviar comentario</button>
</form>

<h2>Comentarios</h2>
<ul class="comment-list">
    {% for mensaje in mensajes %}
        <li class="comment-item">
            <span class="comment-author">{{ mensaje.remitente.username }}:</span>
            <span class="comment-content">{{ mensaje.contenido }}</span>
        </li>
    {% endfor %}
</ul>



    
{% endblock %}
