{% extends "padre.html" %}

{% load static %}

{% block titulo %} Perfil del usuario{% endblock %}

{% block contenidoQueCambia %}

    <h1>Perfil de {{ perfil_usuario.user.username }}</h1>
    {% if user.avatar.profile_image %}
        <img src="{{ user.avatar.profile_image.url }}" alt="Avatar" width="150">
    {% endif %}
    <ul>
        <li><strong>Nombre:</strong> {{ user.username }}</li>
        <li><strong>Email:</strong> {{ perfil_usuario.user.email }}</li>
        
    </ul>
    <form method="post" action = "{% url "cargar_avatar" %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ profile_form.as_p }}
        <button type="submit">Cargar Avatar</button>
    </form>

    <a href="{% url 'EditarPerfil' %}">Editar perfil</a>




{% endblock %}
