{% extends 'padre.html' %}

{% load static %}

{% block titulo %} Aqui podras agregar tema al blog {% endblock %}

{% block contenido_que_cambia %}
<link rel="stylesheet" type="text/css" href="{% static 'css/crear_tema.css' %}">

<h1>Crear nuevo tema</h1>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Crear">
</form>
<div class="contenidoCentrado">
  {% url 'pages' as url %}
  <button type="button" onclick="window.location.href='{{ url }}'">Volver al blog</button>
</div>

{%  endblock  %}
