{% extends 'padre.html' %}

{% load static %}

{% block titulo %} Aqui podras eliminar temas {% endblock %}

{% block contenido_que_cambia %}
<link rel="stylesheet" type="text/css" href="{% static 'css/crear_tema.css' %}">

<h1>Eliminar Tema</h1>
  <p>¿Estás seguro de que deseas eliminar el tema "{{ tema.titulo }}"?</p>

  <form method="post" action="{% url 'eliminar_tema' tema.id %}">
    {% csrf_token %}
    <input type="submit" class="btn btn-danger" value="Eliminar">
    <a href="{% url 'lista_temas' %}" class="btn btn-secondary">Cancelar</a>
  </form>

{%  endblock  %}
