{% extends 'padre.html' %}

{% load static %}

{% block titulo %} Acerca de mi{% endblock %}

{% block contenido_que_cambia %}
<div class="container">
    <h1>Pagina principal</h1>
    {{ mensaje }}

    <h2 class="text-center">Acerca de mí</h2>

    <div class="row g-4">
        <!-- Información personal -->
        <div class="col-md-6 col-lg-3">
            <div class="card" >
                <div class="card-body text-center">
                    <img src= '/media/fotoperfil.jpg' class="rounded-circle mb-3" width="150px">
                    <h3 class="card-title mb-3">Federico Farola</h3>
                    <p class="card-text">Estudiante de programación</p>
                    <p class="card-text">Sígueme en:</p>
                    <a href="https://github.com/farofede01" target="_blank">
                        https://github.com/farofede01
                        <i class="bi bi-github text-dark mx-1"></i>
                    </a>
                    <br>
                    <a href="https://www.linkedin.com/in/fede-farola-98aa1926b/" target="_blank">
                        https://www.linkedin.com/in/fede-farola-98aa1926b/
                        <i class="bi bi-linkedin text-dark mx-1"></i>
                    </a>
                </div>
            </div>
        </div>

        <!-- Descripción personal -->
        <div class="col">
            <div class="text-center">
                <p>Hola, mi nombre es Federico Farola. Soy estudiante de programación y estoy terminando el curso de programación de Python en Coderhouse. ¡Espero que disfrutes de mi blog y gracias por visitar mi página!</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}
