{% extends 'padre.html' %}

{% load static %}

{% block titulo %} La tecnologia avanza!{% endblock %}

{% block contenido_que_cambia %}
<div class="container">
    <h1> {{mensaje}}</h1>
        <title>Información sobre Google Pixel 8</title>

        <h1>Google se adelantó a los iPhone 15 y reveló el aspecto de los Pixel 8 que presentará en octubre</h1>
        <p>El fabricante estadounidense también dio a conocer el diseño de sus próximos relojes, Pixel Watch 2. ¿Qué características tendrán los nuevos dispositivos?</p>
        <!-- AQUÍ VA LA IMAGEN DE IPHONE 1 -->
        <img src="/media/iphone1.jpg" alt="">
        <h2>La serie Pixel 8 será anunciada oficialmente el 4 de octubre.</h2>
        <p>Los entusiastas de los smartphones se frotan las manos, en la inminencia de dos presentaciones relevantes en el sector. La próxima semana, Apple mostrará al mundo la serie iPhone 15. Luego, en octubre, Google dará a conocer los Pixel 8 y Pixel 8 Pro. A la espera de ambos anuncios, el dueño de Android se adelantó a la marca de la manzana mordida, al publicar un video que anticipa el diseño de sus próximos celulares.</p>
        <!-- AQUÍ VA LA IMAGEN DE IPHONE 2 -->
        <img src="/media/iphone2.jpg" alt="">
    
        <h2>Google Pixel 8 y Pixel 8 Pro: así lucirán los teléfonos</h2>
        <p>El video se enfoca en el diseño de los teléfonos. En ese orden, no incluye ninguna de las especificaciones técnicas que incluirán los dispositivos, que sucederán a los Pixel 7 y Pixel 7 Pro lanzados el año pasado.</p>
    
        <p>En la información ya publicada por Google, también vemos que los celulares estarán disponibles en tonalidades rosa y porcelana, tal como se había filtrado anteriormente. También se esperan otros colores, como azul y negro.</p>
    
        <h2>El video oficial de los Google Pixel 8 y las consecuencias de su publicación</h2>
        <ul>
            <li>Google se adelantó a los iPhone 15: Tal como indicamos, Apple presentará sus nuevos smartphones este mismo mes, más precisamente el próximo martes 12. La divulgación del video que muestra a los Pixel 8 es una manifestación de la lucha por el protagonismo en la escena móvil. Si bien no alcanza para eclipsar a los iPhone —que siempre generan tracción—, sí es una buena técnica para desviar la atención, aunque sea por unos instantes.</li>
            <li>La firma del buscador se hace cargo de sus ganas de protagonismo: Google es un gigante de la industria, qué duda cabe. También lo es en el negocio móvil: es el patrón de Android, el sistema operativo para celulares y tablets más popular a nivel mundial. Sin embargo, no es un dominador entre los vendedores de smartphones: está muy por detrás de fabricantes como Samsung y Apple en volumen de envíos. En ese marco, es usual que en las tiendas oficiales aparezcan imágenes que muestran sus teléfonos antes de que sean presentados. ¿Aquellos son descuidos? ¿O se trata de una estrategia “marketinera” para conseguir visibilidad? Como fuere, al revelar oficialmente el diseño de los Pixel 8 la empresa se hace cargo de su ánimo de eclipsar a Apple.</li>
            <li>El video oficial de los Pixel 8 pone un freno a las especulaciones: Al dar a conocer este contenido, buena parte de los rumores y las filtraciones pierden sentido. La lógica es simple: si ya se conocen las líneas generales de diseño a través de un canal oficial, entonces las especulaciones simplemente se confirman o descartan.</li>
        </ul>
    
        <h2>Pixel 8: las posibles características de los teléfonos de Google</h2>
        <p>Se espera que la firma con sede central en Mountain View, California, presente dos ejemplares: un celular “regular” de 6.1 pulgadas, y una variante Pro, más avanzada y grande (de 6.8 pulgadas), que competirá en la alta gama del sector móvil.</p>
        <p>Entre las características de los Google Pixel 8 que se han rumoreado se destacan una cámara principal mejorada de 50MP, acompañada por una ultra ancha de 64MP provista por Sony; una batería robusta de 5,000mAh; y la presencia del nuevo chip Tensor 3. Otra especulación que ha capturado la atención en la previa es la posible inclusión de un sensor en los celulares de la marca, que permitirá tomar la temperatura corporal.</p>
    
        <p>Los Google Pixel 8 y Pixel 8 Pro serán presentados oficialmente el 4 de octubre, en un evento que se celebrará en Nueva York, Estados Unidos.</p>
    

{% endblock %}
